[Unit]
Description=FMX Jupyter service

[Service]
User=softioc-fmx
Group=n2sn-instadmin
SyslogIdentifier=jupyter-fmx
TimeoutStartSec=0
# Restart=always
WorkingDirectory=/epics/iocs/notebook
ExecStart=/epics/iocs/notebook/st.cmd

[Install]
WantedBy=multi-user.target
