[Unit]
Description=FMX Jupyter service

[Service]
User=xf17id2
Group=xf17id2
SyslogIdentifier=jupyter-fmx
TimeoutStartSec=0
# Restart=always
WorkingDirectory=/epics/iocs/notebook
ExecStart=/epics/iocs/notebook/st.cmd

[Install]
WantedBy=multi-user.target
